<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title> -->
    <title>Home | Webpack</title>
    <meta name="description" content="Webpack boilerplate">
    <!-- <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
    <% } %> -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
  </head>
  <body>
    <header class="header" relo="header">
      <img class="header__logo" src="./assets/img/webpack-logo.svg" alt="Logo">
      <ul class="header-navigation" role="navigation">
        <li class="header-navigation__item">
          <a class="header-navigation__link" href="./" aria-label="Home">Home</a>
        </li>
        <li class="header-navigation__item">
          <a class="header-navigation__link" href="./about.html" aria-label="About">About</a>
        </li>
      </ul>
    </header>

    <main role="main">
      <div class="home-view container">
        <h1>Home</h1>
      </div>
    </main>

    <footer class="footer" role="contentinfo">
      <h2>Footer</h2>
    </footer>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </body>
</html>