.header-navigation {

  &__item {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $default-color;
    text-decoration: none;
  }
}