/**
 * 1. Fonts
 */
$mainFont                : "Graphik", "Helvetica", "Arial", sans-serif;
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 300;
$mainLineHeight          : (24/16);

/**
 * 2. Sizes
 */
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/**
 * 3. Main colors
 */
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

/**
 * 3. Neutral colors
 */
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

/**
 * 4. Ratio coefficients
 */
$hdRatio: 1.17;
$fullHdRatio: 1.34;