/*
 * Container element
 */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	@include grid-breakpoint(sm) {
		width: 750px;
	}
	@include grid-breakpoint(md) {
		width: 990px;
	}
	@include grid-breakpoint(lg) {
		width: 1200px;
	}
	@include grid-breakpoint(hd) {
		width: 1170px * $hdRatio;
  }
  @include grid-breakpoint(fullhd) {
		width: 1170px * $fullHdRatio;
	}
}



/*
 * Container fluid
 */
.container-fluid {
	margin: auto;
	@include grid-breakpoint(xl) {
		// width: 1500px;
	}
}



/*
 *
 */
.container-large {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	@include grid-breakpoint(md) {
		padding-right: 0;
		padding-left: 0;
		width: 90%;
 	}
 	@include grid-breakpoint(lg) {
		width: 90%;
 	}
	@include grid-breakpoint(xl) {
		// width: 1500px;
		width: 90%;
 	}
}
