.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #2b3a42;
  @include grid-breakpoint(sm) {
    padding-right: 5%;
    padding-left: 5%;
  }

  &__logo {
    width: 120px;
  }
}