* {
	box-sizing: border-box;
}

html {
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  text-size-adjust: auto;
  @include grid-breakpoint(hd) {
    font-size: 16px * $hdRatio;
  }
  @include grid-breakpoint(fullhd) {
    font-size: 16px * $fullHdRatio;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
video {
  user-select: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}