@font-face {
  font-family: "Graphik";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/GraphikLCG_Light.woff") format('woff'),
       url("/assets/fonts/GraphikLCG_Light.woff2") format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: "Graphik";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/GraphikLCG_Medium.woff") format('woff'),
       url("/assets/fonts/GraphikLCG_Medium.woff2") format('woff2');
  font-display: fallback;
}

@font-face {
  font-family: "Graphik";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/GraphikLCG_Bold.woff") format('woff'),
       url("/assets/fonts/GraphikLCG_Bold.woff2") format('woff2');
  font-display: fallback;
}